@import "../valo/valo";
@import "addons";

// Prefix all selectors in your theme with .demo
.demo {

  // Include valo theme styles in your theme
  @include valo;

  @include addons;

  .keyword {
    font-family: monospace;
    background-color: rgba(255,255,0,0.2);
    color: black;
    font-weight: bold;
    padding: 0 0.5rem;
  }

}