@mixin idlealarm {

  $idlealarm-bgcolor: yellow !default;
  $idlealarm-color: black !default;
  $idlealarm-border: 1px solid #AA0 !default;
  $idlealarm-padding: 0.5rem 1rem !default;
  $idlealarm-opacity: 0.8 !default;

  &.v-overlay-container {

    .idle-alarm-popup {
      background-color: $idlealarm-bgcolor;
      padding: $idlealarm-padding;
      border: $idlealarm-border;

      &.no-buttons {
        pointer-events: none;
        opacity: $idlealarm-opacity;
      }

      .idle-alarm-message {
        color: $idlealarm-color;
        max-width: 100%;

        pre {
          margin: 0;
        }
      }

      .close-button, .refresh-button, .redirect-button {
        float: right;
        margin-top: 5px;
        margin-left: 5px;
      }
    }
  }
}