@mixin idlealarm {

  $idlealarm-bgcolor: yellow !default;
  $idlealarm-color: black !default;
  $idlealarm-border: 1px solid #AA0 !default;
  $idlealarm-padding: 0.5rem 1rem !default;
  $idlealarm-opacity: 0.8 !default;

  &.v-overlay-container {

    .idle-alarm-popup {
      background-color: $idlealarm-bgcolor;
      padding: $idlealarm-padding;
      border: $idlealarm-border;

      &.no-buttons {
        pointer-events: none;
        opacity: $idlealarm-opacity;
      }

      .idle-alarm-message {
        color: $idlealarm-color;
        max-width: 100%;
        pointer-events: none;

        pre {
          margin: 0;
        }
      }

      .v-button {
        float: right;
        margin-top: 5px;
        margin-left: 5px;
      }

      &.compact-styling.with-close {
        .idle-alarm-message {
          padding-right: 20px;
        }

        .close-button {
          position: absolute;
          top: 5px;
          right: 5px;
          background: none;
          border: none;
          outline: none;
          padding: 0;
          box-shadow: none;
          height: auto;
          margin: 0;

          .v-button-wrap {
            background: none;
            border: none;
            outline: none;
            padding: 0;
            .v-button-caption {
              line-height: 1;
              opacity: 0.6;
            }
          }

          &:hover {
            .v-button-wrap .v-button-caption {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}